.card {
	border: 1px solid #eaeaea;
	padding: 30px;
	width: 227px; 
	border-radius: 15px;
	margin-right: 30px;
	margin-bottom: 30px;
	transition: box-shadow 0.2s ease-in-out, transform 0.12s ease-in-out;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.04);
		transform: translateY(-5px);
	}
	
	&:nth-child(4n) {
		margin-right: 0;
	}

	.h5 {
		font-weight: 400;
		font-size: 15px;
	}

	.price {
		font-size: 12px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	.favorite {
		position: absolute;
		cursor: pointer;
	}
	
	.button {
		background: #fff;
		border: 1px solid #eaeaea;
		box-sizing: border-box;
		border-radius: 8px;
		height: 32px;
		width: 32px;
		cursor: pointer;
		padding-top: 2px;
		padding-bottom: 0px;
	}
}